.resume-section {
  padding: 4rem 2rem;
 /* background-color: #0a0a0a; */
 background: radial-gradient(125% 125% at 50% 0%, #020617 50%, #19c7b8);
  color:white;
}

.resume-header {
  text-align: center;
  margin-bottom: 3rem;
}

.resume-badge {
   display: inline-block;
  background: #1e293b;
  color: #7dd3fc;
  padding: 0.3rem 1rem;
  border-radius: 999px;
  font-weight: 500;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

.resume-title {
   font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 2rem;
  border-bottom: 4px solid #3b82f6;
  display: inline-block;
  padding-bottom: 0.5rem;
}

.resume-download {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 10px;
  padding: 0.6rem 1.2rem;
  border: 2px solid #3cc8da;
  border-radius: 8px;
 color: white;
  text-decoration: none;
  transition: all 0.3s ease;
}

.resume-download:hover {
  background-color: #3cc8da;
  color: white;
}
.btn_bg{
      background-color: #3cc8da;
      color: white;
}
.resume-content {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.resume-column {
  flex: 1 1 400px;
  background-color: #363535;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(40, 39, 39, 0.05);
}

.resume-column h3 {
  font-size: 1.5rem;
  color: #2575fc;
  margin-bottom: 1rem;
}

.resume-item {
  margin-bottom: 1.5rem;
}

.resume-item h4 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.duration {
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 0.5rem;
  display: block;
}

.resume-item p {
  font-size: 0.95rem;
  line-height: 1.6;
}
.icon-left {
  margin-right: 8px;
  vertical-align: middle;
}
